.banner {
   max-width: 1920px;
   margin: auto;
   // /position: relative;
   img {
      @include img-responsive;
   }
}

.banner-title {
   position: absolute;
   top: 0; left: 0; right: 0; bottom: 0;
   margin: auto;
   & > * {
      text-align: center;
      font-size: 40px;
      font-weight: 500;
      color: #fff;
   }
}
