.featured-item {
    font-size: 12px;
    color: #fff;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    overflow: hidden;
    > div {
        padding: $grid-gutter-width / 2;
        padding-left: $grid-gutter-width;
        position: absolute;
        left: 0;
        top: 0;
        right: auto;
        bottom: 0;
        margin: auto;
        max-width: 50%;
    }

    &-title {
        margin: 0;
        font-size: 2.5em;
        line-height: 1.1em;
        z-index: 1;
        color: #fff;
    }

    &-description {
        margin: $grid-gutter-width / 2 0 0 0;
        font-size: 1.5em;
        line-height: 1.425em;

        z-index: 1;
    }

    &-cta {
        margin: 1.25em 0 0 0;
        cursor: pointer;
        text-align: right;
        display: block;
        font-size: 1.1em;
        line-height: 1.14em;
        font-weight: bold;
        z-index: 1;
        color: #fff;
    }

    &--with-filter {
        &:before {
            z-index: 0;
            content: '';
            display: block;
            position: absolute;
            top: 0; left: 0; right: 0; bottom: 0;
            background-color: rgba(0, 0, 0, 0.24);
        }
    }

    &--gray > div > *, &--gray > div > a > h3 {
        color: $navLinksColor;
    }

    &--black > div > *, &--black > div > a > h3 {
        color: $black;
    }
}