.book-stegh {
	padding: 0 20px;
	[for="to_date"] {
		margin-left: 10px;
		@media(max-width: 599px){
			margin: 0;
		}
	}
	&-title {
		margin-top: 0;
		font-size: 16px;
		font-weight: bold;
	}
	.form {
		textarea {
			width: 100%;
			margin-top: 20px;
		}
	}
	.form-group {
		margin-top: 30px;
		label {
			font-size: 16px;
			font-weight: bold;
			margin-bottom: 20px;
		}
	}
	.btn {
		padding: 5px 10px;
	}
	.is-italic {
		font-size: 16px;
		font-weight: 500;
	}
	em {
		font-size: 16px;
		font-weight: 500;	  
	}
}

.white-popup {
  position: relative;
  background: #fff;
  padding: 20px;
  width: auto;
  max-width: 500px;
  margin: 20px auto;
}