.newsletter {
	padding: 0 20px 50px;
	.btn {
		padding: 5px 10px;
	}
	.form {

	}
	.form-group input {
		height : 33px;
	}
	&-label {
		margin-bottom: 20px;
	}
	.form-group {
		margin-bottom:20px !important;
	}
}