/configuration.php
.idea/
/logs/
/attachments/
.DS_Store
error_log

images/*

templates/synathina/node_modules
templates/synathina/Gruntfile.js
templates/.sass-cache/

node_modules

# dist folder (bundle folder)
templates/synathina/dist