.l-footer {
    grid-column: 1 / -1;
    grid-row: 3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: $grid-gutter-width / 2;
    padding-right: $grid-gutter-width / 2;
    border-top: 2px solid $footerBorderColor;

    &__sponsors {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        overflow: hidden;
        > * + * {
            margin-left: 15px;
        }
        .eu-logo {
            max-width: 200px;
        }
    }

    &__menus {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
}