/**
 * 50 - 50 flex layout column
 */
.l-fg6 {
	@include flexbox;
	@include flex-wrap(wrap);
	@include justify-content(space-between);
	@include align-items(baseline);
	& > * {
		width: calc(50% - 10px);
		@media(max-width: $screen-sm){
			width: calc(100% - 10px);
		}
		display: inline-block;
		margin-bottom: 20px;
		input {
			display: block;
			width: 100%;
		}
	}
	.file-chooser {
		display: block;
		input[type="upload"] {
			display: block;
		}
	}
	.form-group--upload {
		margin-left : 0 !important;
	}
}

.l-fg4 {
	@include flexbox;
	@include flex-wrap(wrap);
	@include justify-content(space-between);
	@include align-items(baseline);
	& > * {
		width: calc(33% - 10px);
		//display: inline-block;
		margin-bottom: 20px;
		@media(max-width: 660px){
			width: calc(50% - 10px);
		}
		@media(max-width:480px){
			width: calc(100% - 10px);
		}
		input {
			display: block;
			width: 100%;
		}
	}
}
// 50 50 inline-block layout column
.l-ig6 {
	& > * {
		@media(min-width: $screen-md){
			width: calc(30% - 20px);
			margin: 0;
		}
		margin: 0;
		input {
			display: block;
			width: 100%;
		}
	}
}
.l-ig4 {
	& > * {
		@media(min-width: $screen-md){
			width: calc(30% - 20px);
			margin: 0;
		}
		margin: 0;
		input {
			display: block;
			width: 100%;
		}
	}
}

.container-grid--wrapper {
    @include display-grid;
    grid-gap: 0;
    grid-template-rows: auto 1fr 48px;
    height: 100%;
}
