.filter {}
.filter-checkbox {
   @include clearfix;
   margin-top: 20px;
   margin-bottom: 20px;
   .form-group {
      float: left;
      font-size: 14px;
      input[type=checkbox] + label:before {
         width: 20px;
         font-size: 20px;
      }
      + .form-group {
         margin-left: 20px;
      }
   }
}

.filter-results {
   .media {
      padding: 17px 0;
      border-top: 1px solid #dfdfdf;
   }
}

.filters {
   & > .form-group {
      margin-top: 20px;
   }
}
