.inline-list {
   @include inline-list;
}
.inline-list--separated {
   & > * {
      &:after {
         content : '|';
         display: inline-block;
         margin: 0 10px;
      }
      &:last-of-type {
         &:after {
            display: none;
         }
      }
   }
   &.thematiki--list {
      & > * {
         margin: 0 10px;
         position: relative;;
         &:after {
            content : '';
            position: absolute;
            height: 86%;
            width: 1px;
            background-color: #5d5d5d;
            right: -11px;
            top: 0; bottom: 0;
            left: auto;
            margin: auto;
         }
      }
   }
}

.inline-list--headlines {
   li, a {
      font-size: 22px;
      font-weight: bold;
   }
   a {
      text-decoration: underline;
   }
   & > li {
      &:after {
         color: #5d5d5d;
      }
      a {
         color: $gray
      }
      &.selected, &:hover, &:focus {
         a {
            color: $coral;
         }
      }
   }
}
