/* ==|====================
   Module/Box
   ======================= */

.module {

}

.module-head  {

}

.module-title {

}

.module-body  {

}

.module--popup {
   max-width: 600px;
}

.module-footer  {

}
.module--center {
   text-align: center;
   margin: auto;

}
.module-debug {
   //@include vertical-align;
   right: 10%;
   top: 10%;
   position: absolute;
   width: auto;
   //color: orange;
   //font-weight: bold;
   //font-family: 'Monaco', Arial;
   //font-size: 30px;
}


.inline-list {
   @include inline-list;
}


.module-embed {
   position: relative;
   padding-bottom: 68.615984%;
   & > iframe, & > video {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
   }
}


// ** synathina variations **/

.module--synathina {
   $color-blue : #05c0de;
   @include clearfix;
   z-index: 1;
   position: relative;
    &.skewed{
      position: relative;

      @include skew2($side: bottom, $bg: #fff, $deg: 2deg, $top: auto, $bottom: -20px, $width: 100%, $height: 40px);

      &:before {
         background-color: inherit;
         z-index: -1;
         @media(min-width: $screen-sm){
            //z-index: auto !important;
         }
      }
   }
   .module-wrapper {
      max-width: 768px;
      margin: auto;
      padding:0 20px;
   }

   .module-title {
      font-size: 32px;
      font-weight: 300;
      line-height: 32px;
      color: $color-blue;
      padding-top: 34px;
      // variations
      &--subtitle {
         font-size: 22px;
         color: $color-blue;
         font-weight: 300;
      }
   }
   p, .module-body {
      font-size: 15px;
      font-weight: 400;
   }
   a {
      color: $color-blue;
      font-weight: bold;
   }
   .media {

      position: relative;
      + .media {
         margin-top: 20px;
      }
   }
   .media-left {
      vertical-align: top;
      padding-right: 20px;
      .fill {
         @include fill($padding-bottom: 100%);
         background-size: cover;
         background-position: top center;
         background-repeat: no-repeat;
         display: block;
         background-size: 90%;
         width: 68px;
         &--collect {
            background-position: 0 0;
         }
         &--connect {
            background-position: 0 36%;
         }
         &--filter {
            background-position: 0 72%;
         }
         &--merge {
            background-position: 0 108%;
         }
      }
   }
   .media-heading {
      font-size: 20px;
      line-height: 22px;
      font-weight: bold;
      color: $color-blue;
      margin:0;
      + p {
         margin: 0;
      }
   }
}
.module-skewed:before {
   content: '';
   position: absolute;
   left: 0;
   bottom: -7%;
   overflow: visible;
   width: 100%;
   //height: 50%;
   height: 50%;
   background: inherit;
   z-index: -1;
   -webkit-transform: skewY(2.5deg);
   -moz-transform: skewY(2.5deg);
   -ms-transform: skewY(2.5deg);
   -o-transform: skewY(2.5deg);
   transform: skewY(2.5deg);
   -webkit-backface-visibility: hidden;
}

.module-progress {
   max-width: 992px;
   margin: auto;
   text-align: center;
   //@include cells;
   & > * {
      width: 48%;
      display: inline-block;
      vertical-align: top;
   }

}

.module-title--layout {
   font-size: 32px;
   font-weight: 500;
}

.module-skewed, .module--gray {
   background-color: #ebebeb;
}

.module-cells {
   @include cells();
}

// insides


.module__forms {
   $labelweight : bold;
   $labelsize : 16px;
   $bordercolor : #5d5d5d;
   padding: 0 20px;
   textarea {
      width: 100%;
   }
   label {
      font-size: $labelsize;
      font-weight: $labelweight;
      color: #5d5d5d;
   }
   .filters {
      & > label {
         font-size: $labelsize !important;
         font-weight: $labelweight !important;
      }
      label {
         font-size: 13px;
      }
   }
   .is-block.is-italic {
      margin-top: 2px;
   }
   [type="submit"] {
      padding: 5px 10px;
   }
   .form {
      & > .form-inline + .form-inline{
         margin-bottom: 20px;
      }
      & > .form-inline.filters {
         margin-bottom: 20px;  
      }

      label.is-block {
         margin-bottom: 5px;
      }        
   }
   input[type=checkbox] + label:before, input[type=radio] + label:before {
      width: 20px;
   }
   input {
      height: 32px !important;
   }
   .form-inline {
      .form-group {
         margin: 10px 0 0px 0;
         + .form-group {
            margin-left: 5px;
         }
      }  

   }
   .form-group--tail {
      margin-top: 40px !important;
   }
   .form-group--upload {
      margin-left: 20px !important;
   }

   .form--bordered {
      border-bottom: 1px solid $bordercolor;
      padding-bottom: 24px;
      padding-top: 24px;
   }
   
}