$text-color : #5d5d5d;
$link-color : #78b7e3;

$gray : #d3d3d3; //rgb(211, 211, 211);
$black : #000000; //rgb(0, 0, 0);
$blue-ele :#78b7e3;
$yellow-selected :#f8e300;
$gray-text : #5d5d5d;
$orange : #fc8f0a;
$color-more: #78b7e3;
// article component content styles
.c-article {
   // colors
   .color-orange {
      color: $orange;
   }
   font-size: 15px;
   font-weight: 400;
   h1 {
      font-weight: 300;
      font-size: 40px;
      color: $navLinksColorSelected;
      margin: 40px 0px 0px 0px;
      line-height: 40px;
   }
   h4, h5, h6 {
      color: $text-color;
      font-size: 15px;
      margin:0;
      line-height: 17px;
   }
   p {
      color: $gray-text;
      margin: 0;
   }
   p + p {
      margin-top: 20px;
   }
   a {
      color: $link-color;
      text-decoration: none;
      font-weight: bold;
      &:hover {
         text-decoration: underline;
      }
   }

   //media
   img {
      max-width: 100%;
      height: auto;
   }
   video, iframe {
      width: 100%;
      max-width: 560px;
      margin: auto;
      display: block;
   }
}

// modules
.latest-articles {
   color: $text-color;
   time {
      font-size: 26px;
      line-height: 26px;
      font-weight: 300;
      color: $orange;
   }
   .media-body {
      h3 {
         font-weight: bold;
         margin: 0;
      }
      p:first-of-type {
         margin: 0;
      }
      a {
         color: #78b7e3;
         font-style: italic;
         font-weight: bold;
      }
   }
}

.media-body {
   a {
      color: #78b7e3;
      font-style: italic;
      font-weight: bold;
   }
}
.thumbnail {
   h3 {
      font-weight: bold;
      font-size: 28px;
      line-height: 28px;
      color: $text-color;
      padding-bottom: 12px;
      border-bottom: 1px solid #dfdfdf;
   }
   time {
      color: $orange;
      font-size: 25px;
      font-weight: 400;
      line-height: 25px;;
   }
}

.l-draseis {
   color : #5d5d5d;
   .list-group-item {
      p {
         margin: 0;
      }
   }
}

.l-stegh {
   color: #5d5d5d;
}

.c-calendar {
   h2 {
      font-size: 22px;
   }
   .inline-list--headline {
      font-size: 22px;
   }
}

.module--synathina {
   color: $text-color;
   h3 {
      font-size: 32px;
      font-weight: 300;
      line-height: 32px;
      color: $blue-ele;
      padding-top: 34px;
      // variations
   }
   h4 {
      font-size: 22px;
      color: $blue-ele;
      font-weight: 300;
   }
   p {
      font-size: 15px;
      font-weight: 400;
   }
   ol {
      padding-left: 20px;
      font-size: 15px;
      font-weight: 400;
      li {
         + li {
            margin-top: 20px;
         }
      }
   }
}


.is-italic {
   font-style: italic;
   font-size: 14px;
   font-weight: 400;
}
.text-right {
   text-align: right;
}