.form {
   input {
      border: 1px solid #000;
      height: 22px;
      padding: 2px;
      outline: 0;
   
   }
   textarea {
   	border: 1px solid #000;
   }
   &-label {
      margin-top: 0;
      font-size: 16px;
      font-weight: bold;      
   }
}

// inline form 
.form-inline {
	& > .form-group {
		display: inline-block;
		margin-bottom: 0;
		vertical-align: middle;
	}
}
