$text-color : #5d5d5d;
$link-color : #008cd1;
// article component content styles
.c-article {
   font-size: 15px;
   font-weight: 400;
   h1 {
      color: $text-color;
      font-weight: 300;
      font-size: 26px;
      margin:0;
      line-height: 26px;
   }
   p {
      color: $gray-text;
      margin: 0;
   }
   p + p {
      margin-top: 20px;
   }
   a {
      color: $link-color;
      text-decoration: none;
      font-weight: bold;
      &:hover {
         text-decoration: underline;
      }
   }
}

// modules
.latest-articles {
   color: $text-color;
   time {
      font-size: 26px;
      line-height: 26px;
      font-weight: 300;
      color: $orange;
   }
   .media-body {
      h3 {
         font-weight: bold;
         margin: 0;
      }
      p:first-of-type {
         margin: 0;
      }
      a {
         color: #43c0ea;
         font-style: italic;
         font-weight: bold;
      }
   }
}


.thumbnail {
   h3 {
      font-weight: bold;
      font-size: 28px;
      line-height: 28px;
      color: $text-color;
      padding-bottom: 12px;
      border-bottom: 1px solid #dfdfdf;
   }
   time {
      color: $orange;
      font-size: 25px;
      font-weight: 400;
      line-height: 25px;;
   }
}
