.syn-select {
   -webkit-appearance: none;
   -moz-appearance: none;
   background-position: 90% 50%;
   background-repeat: no-repeat;
   //background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAMCAYAAABSgIzaAAAAGXRFW…zTk0D/M+KzkRGPoQSdykiKJrBGpOhgJFYTWNEIiEeAAAMAzNENEOH+do8AAAAASUVORK5CYII=);
   background-image: url(http://www.scottgood.com/jsg/blog.nsf/images/arrowdown.gif);
   padding: 8px;
   padding-right: 2.5em;
   background-color: #fff;
   border: 1px solid #d4d4d4;
   border-radius: 0;
}
